/* @import stylep-badge; */
@import '../index.css';

body {
  background-color: #E8EBEF;
  color: #6B6B77;
  font-family: 'Helvetica Neue';
  overflow-x: hidden;
}

section {
  background-color: #fff;
  padding: 1em 1em .125em;
  margin-bottom: 1em;
}

h1 { font-weight: 100; letter-spacing: 1px; }
h2 { font-weight: 200; }
h3 { font-weight: 300; }

.badge--inline { @mixin badge-inline; }

.badge--inline-1 { @mixin badge-inline 18px, 10px 15px, 0 3% 3% 0; }

.badge--inline-2 {
  @mixin badge-inline;
  outline: 1px solid red;
}

.badge--solid { @mixin badge-solid; }

.badge--solid-1 { @mixin badge-solid green; }

.badge--solid-2 {
  @mixin badge-solid #555, #fff, 2px;
  border: 2px dotted red;
}

.badge--solid-3 {
  @mixin badge-solid;
  box-shadow: 0 0 2px black;
}

.badge--solid-4 { @mixin badge-solid #efefef, green; }

.badge--solid-5 {
  @mixin badge-solid blue;
  box-shadow: inset -1px 0 20px rgba(255, 255, 255, .5), 0 0 2px black;
}

.badge--hollow { @mixin badge-hollow; }

.badge--hollow-1 { @mixin badge-hollow green; }

.badge--hollow-2 { @mixin badge-hollow cyan; }

.badge--hollow-3 { @mixin badge-hollow #555, 50px, dashed, 3px; }

.badge--hollow-4 {
  @mixin badge-hollow;
  box-shadow: 0 1px 10px rgba(0, 0, 0, .5);
}

