/* @import stylep-badge; */
@import '../index.css';

body {
  background-color: #E8EBEF;
  color: #6B6B77;
  font-family: 'Helvetica Neue';
  overflow-x: hidden;
}

section {
  background-color: #fff;
  padding: 1em 1em .125em;
  margin-bottom: 1em;
}

h1 { font-weight: 100; letter-spacing: 1px; }
h2 { font-weight: 200; }
h3 { font-weight: 300; }

.badge--inline { @extend %badge-inline; }

.badge--inline-1 {
  @extend %badge-inline;
  --badge-font-size: 18px;
  --badge-padding: 10px 15px;
  --badge-margin: 0 3% 3% 0;
}

.badge--inline-2 {
  @extend %badge-inline;
  --badge-outline: 1px solid red;
}

.badge--solid { @extend %badge-solid; }

.badge--solid-1 {
  @extend %badge-solid;
  --badge-color: green;
}

.badge--solid-2 {
  @extend %badge-solid;
  --badge-border: 2px dotted red;
  --badge-radius: 2px;
}

.badge--solid-3 {
  @extend %badge-solid;
  --badge-shadow: 0 0 2px black;
}

.badge--solid-4 {
  @extend %badge-solid;
  --badge-color: #efefef;
  --badge-text-color: green;
}

.badge--solid-5 {
  @extend %badge-solid;
  --badge-color: blue;
  --badge-shadow: inset -1px 0 20px rgba(255, 255, 255, .5), 0 0 2px black;
}

.badge--hollow { @extend %badge-hollow; }

.badge--hollow-1 {
  @extend %badge-hollow;
  --badge-color: green;
}

.badge--hollow-2 {
  @extend %badge-hollow;
  --badge-background-color: cyan;
}

.badge--hollow-3 {
  @extend %badge-hollow;
  --badge-border-size: 3px;
  --badge-border-style: dashed;
}

.badge--hollow-4 {
  @extend %badge-hollow;
  --badge-shadow: 0 1px 10px rgba(0, 0, 0, .5);
}
