%badge-inline {
  display: var(--badge-display, inline-block);
  font-size: var(--badge-font-size, 12px);
  padding: var(--badge-padding, 3px 8px);
  position: var(--badge-position, relative);
  line-height: var(--badge-line-height, 1);
  margin: var(--badge-margin, 0 1% 1% 0);
  max-width: var(--badge-max-width, 100%);
  outline: var(--badge-outline, 0);
  text-align: var(--badge-text-align, center);
  text-decoration: var(--badge-text-decoration, none);
  vertical-align: var(--badge-vertical-align, middle);
  white-space: var(--badge-white-space, nowrap);
}

%badge-solid {
  background: var(--badge-color, #555);
  border: var(--badge-border, none);
  border-radius: var(--badge-radius, 50px);
  box-shadow: var(--badge-shadow, none);
  color: var(--badge-text-color, #fff);
}

%badge-hollow {
  background: var(--badge-background, transparent);
  border: var(--badge-border-size, 1px) var(--badge-border-style, solid) var(--badge-color, #555);
  border-radius: var(--badge-radius, 50px);
  box-shadow: var(--badge-shadow, none);
  color: var(--badge-color, #555);
}

