%badge-inline {
  border-width: 0;
  display: inline-block;
  font-size: var(--badge-font-size, 12px);
  padding: 3px 8px;
  position: relative;
  line-height: 1;
  margin: 0 1% 1% 0;
  max-width: 100%;
  min-width: 22px;
  outline: 0;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
}

@define-mixin badge-solid
  $color-passive: #333,
  $color-text: #fff,
  $radius-size: 50px,
  $border: none,
  $shadow: none
{

  background-color: $color-passive;
  border: $border;
  border-radius: $radius-size;
  color: $color-text;
  @mixin-content;
}

@define-mixin badge-hollow
  $color-passive: #333,
  $color-text: #333,
  $color-background: transparent,
  $radius-size: 4px,
  $border-width: 1px,
  $shadow: none
{
  background-color: $color-background;
  border: $border-width solid $color-passive;
  border-radius: $radius-size;
  color: $color-text;
}

